

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-family: IBM Plex Mono, monospace;
    background-color: #f0f0f0;
    margin: 20;
    padding: 20;
  }
  
header {
    background-image:url('/img/1.jpg');
    color: white;
    padding: 8px 0;
  }
  
nav {
    background-image: url('img/1.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
nav ul {
    list-style: none;
    display: flex;
  }
  
nav li {
    margin-right: 20px;
  }
  
nav a {
    text-decoration: none;
    color: white;
  }
  
.hero {
    background-image: url('img/2.jpg');
    color: white;
    text-align: center;
    padding: 40px 0;
  }
  
.blog {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.article {
    background-image: url('img/fondo-poster1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    /* Otros estilos para el artículo, como color de texto y margen, si es necesario */
  } 
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    display: flex;
    flex-direction: column;
  }
  
main {
    flex: 1;
  }
  
footer {
    background-image: url('img/3.jpg');
    color: white;
    text-align: center;
    padding: 8px 0;
  }
  
/* Estilos específicos */
h2 {
  max-width: 960px;
  max-width: 960px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  font-size: 36px;
  font-family: 'IBM Plex Mono', monospace;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Efecto de sombra */
  transition: color 0.3s; /* Transición suave de color al pasar el mouse */
}

h2:hover {
  color: forestgreen; /* Cambiar el color al pasar el mouse */
}
  
p {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #007BFF;
  }
  
a:hover {
    text-decoration: underline;
  }

/* Estilo de página Acerca de Mí */
body {
    background-image: url('img/fondo.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.video-section {
  text-align: center;
}

.video-caption {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  margin-top: -100px; /* Ajusta la posición vertical del texto */
  border-radius: 10px;
}

.video-caption h3 {
  font-size: 24px;
}

.video-caption p {
  font-size: 18px;
}
.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.series-item {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ddd;
  text-align:justify;
}

.series-item img {
  max-width: 100%;
}

/* styles.css */

/* Estilos para la lista de capítulos */
.chapter-list {
  text-align: center;
}

.chapter-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.chapter-links li {
  width: calc(33.33% - 10px); /* Distribuye en 3 columnas, con márgenes entre los elementos */
  margin: 5px;
  text-align: center;
}

/* Ajusta el ancho y los márgenes según tus preferencias */
